.List {
  padding: 3vw 6vw;
  background-color: #18181b;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 14%;
    background: linear-gradient(90deg, #0cbaf1, #e95ce9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    line-height: 58px;
    letter-spacing: -0.5%;
    text-align: center;
  }

  span {
    font-size: 16px;
    font-weight: 300;
    color: #d1d1d1;
    text-align: center;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .contai_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 790px;

    @media (max-width: 600px) {
      max-width: auto;
      width: 80%;
    }

    .menu {
      background-color: #252532;
      width: 100%;
      min-width: 790px;
      padding: 30px;
      border: 1px solid #252532;
      transition: 0.3s;
      cursor: pointer;

      @media (max-width: 1429px) {
        min-width: auto;
      }

      &.active {
        border: 1px solid;
        border-image: linear-gradient(90deg, #0cbaf1, #e95ce9) 1;
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ffffff59;
        padding-bottom: 20px;
        margin-bottom: 20px;

        h1 {
          font-size: 20px;
          font-weight: 500;
          line-height: 100%;
          letter-spacing: 0%;
          color: #ffffff;
        }
      }

      span {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        color: #d1d1d1;
      }
    }
  }
}
