.List_4 {
  padding: 3vw 6vw;
  background-color: #18181b;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: relative;

  .men {
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 14%;
    background: linear-gradient(90deg, #0cbaf1, #e95ce9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 100;
  }

  h1 {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    line-height: 58px;
    letter-spacing: -0.5%;
    z-index: 100;
    text-align: center;
  }

  span {
    font-size: 16px;
    font-weight: 300;
    color: #d1d1d1;
    text-align: center;
    line-height: 28px;
    letter-spacing: 0%;
    padding-bottom: 20px;
    z-index: 100;
  }

  .contai_title{
    display: flex;
    flex-direction: column;
    width: 60%;
    z-index: 10;
    gap: 40px;

    .title{
        display: flex;
        flex-direction: column;
        gap: 25px;

        h4{
            font-size: 20px;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 100%;
            letter-spacing: 0%;
        }

        span{
            font-size: 16px;
            font-weight: 300;
            color: #D1D1D1;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: start;
        }
    }
  }
}
